.ppyatt__portfolio{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ppyatt__portfolio-container__heading{
    margin-bottom: 3rem;
}

.ppyatt__portfolio-container__heading h4{
    font-weight: 600;
    font-size: 18px;
}

.ppyatt__portfolio-container__heading h2{
    font-weight: 700;
    font-size: 30px;
    color: var(--color-orange);
}

.ppyatt__portfolio-project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

@media screen and (max-width: 414px){
    .ppyatt__portfolio-project{
        display: flex;
        flex-direction: column;
    }

    .ppyatt__portfolio{
        margin-top: -20%;
        margin-left: -4rem;
        margin-right: -4rem;
    }

    .ppyatt__portfolio-container__heading{
        margin-top: 15%;
    }

    .ppyatt__portfolio-container__heading h4{
        font-size: 14px;
    }

    .ppyatt__portfolio-container__heading h2{
        font-size: 26px;
    }
}