.ppyatt__about{
    margin-top: 5%;
    display: flex;
}

.ppyatt__about-img{
    margin-right: 4rem;
}

.ppyatt__about-container{
    display: flex;
    flex-direction: column;
}

.ppyatt_about-container__item a{
    text-decoration: none;
    color: white;
}

.ppyatt__about-img img{
    mix-blend-mode: multiply;
    width: 340px;
}

.ppyatt__about-container__heading{
    margin-bottom: 2rem;
}

.ppyatt__about-container__heading h4{
    font-weight: 600;
    font-size: 18px;
}

.ppyatt__about-container__heading h2{
    font-weight: 700;
    font-size: 30px;
    color: var(--color-orange);
}

.ppyatt_about-container__title{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.ppyatt_about-container__item{
    padding: 15px 45px;
    background: #2F3E46;
    border-radius: 15px;
    color: white;
}

.ppyatt_about-container__content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 152.52%;
}

.ppyatt_about-btn{
    margin-top: 2rem;
}

.ppyatt_about-btn button{
    background: transparent;
    color: var(--color-orange);
    padding: 15px 45px;
    border: 1px solid #CF6124;
    border-radius: 25px; 
    font-size: 18px;
    cursor: pointer;

}

.ppyatt_about-btn button:hover{
    background: var(--color-orange);
    color: white;
}

@media screen and (max-width:768px) and (min-width: 414px){
    .ppyatt__about{
        display: grid;
        gap: 3rem;
    }
}

@media screen and (max-width: 414px){

    .ppyatt__about{
        margin-top: -5%;
        margin-left: -4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ppyatt__about-img img{
        width: 200px;
    }

    .ppyatt__about-container__heading{
        margin-top: 15%;
    }

    .ppyatt__about-container__heading h4{
        font-size: 14px;
    }

    .ppyatt__about-container__heading h2{
        font-size: 26px;
    }

    .ppyatt_about-container__title{
        display: none;
    }
    
    .ppyatt_about-btn button{
        font-size: 14px;
    }
}

.animate__fadeIn{
    animation-duration: 5s;
}

