*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html, body{
    background: var(--color-bg);
    font-family: var(--font-family);
    max-width: 100%;
    overflow-x: hidden;
}

.gradient__bg{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 0%, rgba(221, 226, 232, 1) 0%, rgba(195, 195, 195, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 0%, rgba(221, 226, 232, 1) 0%, rgba(195, 195, 195, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 0%, rgba(221, 226, 232, 1) 0%, rgba(195, 195, 195, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 0%, rgba(221, 226, 232, 1) 0%, rgba(195, 195, 195, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 0%, rgba(221, 226, 232, 1) 0%, rgba(195, 195, 195, 1) 100%);

}

.section__padding{
    padding: 4rem 6rem;
}
   
